.sec-hero {


    margin-top: 80px;

    margin-bottom: 90px;




}

.btn-hero {
    animation: pulse 2s infinite;
}

.btn-hero:hover {
    animation: heartBeat 2s infinite;
}

h1 {

    font-family: 'Roboto';


    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */


    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin: 0;
}

.sec-hero {

    text-align: center;
    background-image: url(../images/Imgbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;




}

.overlay1 {
    background: rgba(47, 48, 58, 0.4);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;


}

.btn-hero {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    width: 216px;
    height: 50px;

    cursor: pointer;


    /* align-items: center;
    text-align: center; */
    letter-spacing: 0.06em;

    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: none;
    transition: all 1.2s;
}

/* .btn-hero {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;


    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

} */

.overlay{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.modal{
    position: absolute;
    top: 25%;
    left: 36%;
    width: 448px;
    height: 521px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transform: translate(-50% -50%);
    padding: 30px 40px;

}

.close_modal{
    padding: 0;
    border-radius: 50%;
    padding: 6px;
    height: 34px;
    border: none;
    border-color: #cfcfcf;
    display: flex;
    align-items: center;
    margin-left: 440px;
    margin-top: -17px;
    cursor: pointer;
}

.close_modal img{
    /* margin-bottom: 12px; */
}

.show{
    
    display: block;
    z-index: 1500;
}

.modal_title{
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    margin: 0;
    margin-bottom: 12px;
}

.modal_form label{
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    margin-bottom: 4px;
}

.modal_form{
    display: flex;
    flex-direction: column;
    width: 448px;
    width: 100%;

}

.modal_form input{
    width: 100%;
    /* height: 40px; */
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    background-position: 4px;
    width: 100%;

}


/* .inp_email{
    background-image: url(../images/email_icon.svg);
    background-repeat: no-repeat;    
} */

/* .inp_name{
    background-image: url(../images/user_icon.svg);
    background-repeat: no-repeat;
    background-size: 18px;

} */

.form_group{
    width: 440px;
    height: 18px;
    padding: 11px 0 5px 12px;
    padding-bottom: 10px;
    display: flex;
    border: 1px solid rgba(33, 33, 33, 0.20);
    border-radius: 4px;
    margin-bottom: 10px;
}

.form_group input{
    border:none;
    outline: none;
}

.form_group:hover{
    border: 1px solid #2196F3;

}

.form_group:hover svg path{
    fill: #2196F3;

}

/* .inp_tel{
    background-image: url(../images/phone_icon.svg);
    background-repeat: no-repeat;    
} */

.modal_textarea{
    resize: none;
    width: 419px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    height: 96px;
    color: rgba(117, 117, 117, 0.50);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    padding: 12px 16px;
}

.modal_btn{
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 0;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    width: 45%;
    padding: 10px 52px;
    border: none;
    margin: 0 auto;

         
}

.form-field_p{
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    margin: 0;
}

.form-field a{
    color: #2196F3;
    
    letter-spacing: 0.42px;
    text-decoration-line: underline;
}

.form-field input{
    width: 16px;
    height: 15px;
    margin: 0;
    margin-right: 8px;
    margin-left: 10px;
}

.form-field{
    display: flex;
    align-items: center;

    padding-top: 15px;
    padding-bottom: 25px;
}