@mixin btn_variable1(){
    border: none;
    color: $color_white;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    cursor: pointer;
    border-radius: 4px;
    background: $color_blue;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

} 