

.clients {
	padding-top: 94px;
	padding-bottom: 94px;
	
	&__title {
		font-family:  $font_1;
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		letter-spacing: 0.03em;
		color:  $color_light_black;
		
		margin-top: 0;
		@media(min-width:320px){
			margin-bottom: 25px;
			font-size: 26px;
		}
		@media(min-width:480px){
			font-size: 28px;
			margin-bottom: 30px;
		}
		@media(min-width:1200px){
			font-size: 36px;
			margin-bottom: 50px;

		}
	}
	&__list {
		display: flex;
		// gap: 30px;
		padding: 0;
		margin-bottom: 0;
		@media(min-width:320px){
			gap: 20px;
			flex-wrap: wrap;
		}
		@media(min-width:480px){
			gap: 30px;
		}
		@media(min-width:1200px){
			flex-wrap: nowrap;

		}

	}
	&__background {
		width: 170px;
		height: 92px;
		border: 1px solid $color_gray3;
		border-radius: 4px;
		display: flex;
		align-items: center;
		justify-content: center;
		@media(min-width:320px){
			width: 140px;
			height: 87px;

		}
		@media(min-width:480px){
			width: 210px;
			height: 92px;

		}
		@media(min-width:768px){
			width: 226px;
			height: 92px;

		}
		@media(min-width:1200px){
			width: 170px;
			height: 92px;
		}
	}
	&__img--special path {
		fill: $color_gray3;
	}
	&__img {
		transition: all 1, 6s;
		cursor: pointer;
	}
	&__background:hover, &__img:hover, &__img:hover path {
		fill:  $color_blue;
		border: 1px solid $color_blue;
	}
}










// .clients {
//     padding-top: 94px;
//     padding-bottom: 94px;
// }

// .clients__title {
//     font-family: $font_1;
//     font-style: normal;
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 42px;
//     text-align: center;
//     letter-spacing: 0.03em;

//     color: $color_light_black;
//     margin-bottom: 50px;
//     margin-top: 0;
// }

// .clients__list {
//     display: flex;
//     gap: 30px;
//     padding: 0;
//     margin-bottom: 0;
// }

// .clients__background {
//     width: 170px;
//     height: 92px;
//     border: 1px solid #AFB1B8;
//     border-radius: 4px;

//     display: flex;
//     align-items: center;
//     justify-content: center;
// }





// .clients__img--special path {
//     fill: #AFB1B8;

// }

// .clients__img {
//     transition: all 1, 6s;
//     cursor: pointer;
// }

// .clients__background:hover,
// .clients__img:hover,
// .clients__img:hover path {

//     fill: $color_blue;
//     border: 1px solid $color_blue;

// }