.footer__list {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;
    color: $color_white;
    padding: 0;
    width: 251px;
}

.contacts {
    background: #2F303A;
}

.footer__nav {
    color: rgba(255, 255, 255, 0.6);
}

.footer-span {
    color: $color_white;
}


.footer__list {
    font-size: 26px;
}

.footer__logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1em;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: $color_light_black;
}


.footer__item {
    font-size: 0.615em;
}

.footer__list--contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 0;

    margin: 0;
    margin-bottom: 30px;

}

.footer__list--contacts>li {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding-bottom: 7px;
}

.footer__list--contacts>li:hover,
.footer__list--contacts>li:hover path {
    background: $color_blue;
    fill: $color_white;

}


.footer__subtitle{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color_white;
}

.footer__block--second{

    display: flex;
    width: 206px;
    flex-direction: column
}

.footer__flex--list {
    display: flex;
    padding: 0;
    gap: 70px;
    margin: 0;





}



.footer__div {
    display: inline;
    width: 251px;
}

.contacts {
    display: flex;
    flex-direction: column;
    /* width: 1140;
    height: 252px;
    padding-top: 60px;
    padding-left: 215px; */
    padding: 60px 0px;


}

.footer__input--third{
    background: #2F303A;
    width: 342px;
    height: 50px;
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
    letter-spacing: 0.48px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    /* background: rgba(33, 150, 243, 0.00); */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: none;

}

.footer__btn--third {
    // border-radius: 4px;
    // background: $color_blue;
    // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    // color: $color_white;
    // text-align: center;
    // font-family: Roboto;
    // font-size: 16px;
    // font-style: normal;
    // font-weight: 700;
    // line-height: 30px;
    /* 187.5% */
    // letter-spacing: 0.96px;
    padding: 0;
    display: flex;
    align-items: center;
    @include btn_variable1();
    padding: 11px 28px;
    // border: none;
    // cursor: pointer;
}

.footer__form--third{
    display: flex;
    gap: 12px;
    align-items: center;

}

.footer__third {
    margin-left: 33px;
}

.footer__btnico--third {
    margin-left: 10px;
}