.zainatia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list_zainatia {
    display: flex;
    width: 1170px;
    justify-content: space-between;


}

.sec-2-head {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;

    color: #212121;
}

.fotosect {
    padding-bottom: 94px;
}

.fotosect_items {
    position: relative;
}

.fotosect_items>.label {

    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    position: absolute;
    bottom: 7px;
    left: 0;
    background: rgba(47, 48, 58, 0.80);
    width: 100%;
    margin: 0;
    padding: 27px 0;
}