.mozlivosti__list {

    display: flex;
    width: 1171px;

    justify-content: space-between;
    margin: 0 auto;
    /* margin-bottom: 90px; */

    padding: 0;


    font-size: 14px;




}
.mozlivosti {
    padding-bottom: 90px;
}

.mozlivosti__list>li {
    width: 270px;
}

.mozlivosti__img--background {
    width: 270px;
    height: 120px;
    background-color: $color_gray;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
}




.mozlivosti__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1em;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $color_light_black;
}

.mozlivosti__desk{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;
}